USE [WorldCup2026]
GO
/****** Object:  Table [dbo].[Bets]    Script Date: 5/18/2026 2:19:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bets](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[MatchBettingConfigId] [uniqueidentifier] NOT NULL,
	[GroupId] [uniqueidentifier] NOT NULL,
	[MatchId] [uniqueidentifier] NOT NULL,
	[SelectedTeamId] [uniqueidentifier] NULL,
	[BetAmount] [decimal](18, 2) NOT NULL,
	[Status] [int] NOT NULL,
	[Profit] [decimal](18, 2) NOT NULL,
	[SettledAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Bets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupMembers]    Script Date: 5/18/2026 2:19:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupMembers](
	[Id] [uniqueidentifier] NOT NULL,
	[GroupId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Role] [int] NOT NULL,
	[Balance] [decimal](18, 2) NOT NULL,
	[JoinedAt] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[PenaltyAmount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_GroupMembers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 5/18/2026 2:19:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[InviteCode] [nvarchar](20) NOT NULL,
	[MaxMembers] [int] NOT NULL,
	[DefaultBalance] [decimal](18, 2) NOT NULL,
	[CreatedById] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[SettlementMode] [int] NOT NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaderboardSnapshots]    Script Date: 5/18/2026 2:19:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaderboardSnapshots](
	[Id] [uniqueidentifier] NOT NULL,
	[GroupId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[TotalBets] [int] NOT NULL,
	[TotalWins] [int] NOT NULL,
	[TotalLosses] [int] NOT NULL,
	[TotalWinAmount] [decimal](18, 2) NOT NULL,
	[TotalLossAmount] [decimal](18, 2) NOT NULL,
	[NetProfit] [decimal](18, 2) NOT NULL,
	[Rank] [int] NOT NULL,
	[SnapshotDate] [datetime2](7) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_LeaderboardSnapshots] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MatchBettingConfigs]    Script Date: 5/18/2026 2:19:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatchBettingConfigs](
	[Id] [uniqueidentifier] NOT NULL,
	[MatchId] [uniqueidentifier] NOT NULL,
	[GroupId] [uniqueidentifier] NOT NULL,
	[Handicap] [decimal](5, 2) NOT NULL,
	[FavoredTeamId] [uniqueidentifier] NULL,
	[Odds] [decimal](5, 2) NOT NULL,
	[MinBetAmount] [decimal](18, 2) NOT NULL,
	[MaxBetAmount] [decimal](18, 2) NOT NULL,
	[DefaultBetAmount] [decimal](18, 2) NULL,
	[IsFixedBet] [bit] NOT NULL,
	[BettingOpenTime] [datetime2](7) NOT NULL,
	[BettingCloseTime] [datetime2](7) NOT NULL,
	[IsSettled] [bit] NOT NULL,
	[CreatedById] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_MatchBettingConfigs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Matches]    Script Date: 5/18/2026 2:19:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matches](
	[Id] [uniqueidentifier] NOT NULL,
	[ExternalMatchId] [int] NULL,
	[HomeTeamId] [uniqueidentifier] NOT NULL,
	[AwayTeamId] [uniqueidentifier] NOT NULL,
	[HomeScore] [int] NULL,
	[AwayScore] [int] NULL,
	[MatchDay] [int] NOT NULL,
	[Stage] [nvarchar](50) NOT NULL,
	[StartTime] [datetime2](7) NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[Group] [nvarchar](50) NULL,
 CONSTRAINT [PK_Matches] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teams]    Script Date: 5/18/2026 2:19:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Code] [nvarchar](3) NOT NULL,
	[FlagUrl] [nvarchar](500) NULL,
	[GroupName] [nvarchar](5) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Teams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 5/18/2026 2:19:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[GroupId] [uniqueidentifier] NOT NULL,
	[Type] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[BalanceBefore] [decimal](18, 2) NOT NULL,
	[BalanceAfter] [decimal](18, 2) NOT NULL,
	[ReferenceId] [uniqueidentifier] NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Transactions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/18/2026 2:19:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[PasswordHash] [nvarchar](500) NULL,
	[DisplayName] [nvarchar](100) NOT NULL,
	[AvatarUrl] [nvarchar](500) NULL,
	[AuthProvider] [int] NOT NULL,
	[ExternalAuthId] [nvarchar](256) NULL,
	[RefreshToken] [nvarchar](500) NULL,
	[RefreshTokenExpiryTime] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[Role] [int] NOT NULL,
	[TimeZone] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bets] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Bets] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Bets] ADD  DEFAULT ((0)) FOR [Profit]
GO
ALTER TABLE [dbo].[Bets] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Bets] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[GroupMembers] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[GroupMembers] ADD  DEFAULT ((0)) FOR [Role]
GO
ALTER TABLE [dbo].[GroupMembers] ADD  DEFAULT ((0)) FOR [Balance]
GO
ALTER TABLE [dbo].[GroupMembers] ADD  DEFAULT (sysutcdatetime()) FOR [JoinedAt]
GO
ALTER TABLE [dbo].[GroupMembers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[GroupMembers] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[GroupMembers] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[GroupMembers] ADD  DEFAULT ((0)) FOR [PenaltyAmount]
GO
ALTER TABLE [dbo].[Groups] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Groups] ADD  DEFAULT ((50)) FOR [MaxMembers]
GO
ALTER TABLE [dbo].[Groups] ADD  DEFAULT ((0.00)) FOR [DefaultBalance]
GO
ALTER TABLE [dbo].[Groups] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Groups] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Groups] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Groups] ADD  DEFAULT ((0)) FOR [SettlementMode]
GO
ALTER TABLE [dbo].[LeaderboardSnapshots] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[LeaderboardSnapshots] ADD  DEFAULT ((0)) FOR [TotalBets]
GO
ALTER TABLE [dbo].[LeaderboardSnapshots] ADD  DEFAULT ((0)) FOR [TotalWins]
GO
ALTER TABLE [dbo].[LeaderboardSnapshots] ADD  DEFAULT ((0)) FOR [TotalLosses]
GO
ALTER TABLE [dbo].[LeaderboardSnapshots] ADD  DEFAULT ((0)) FOR [TotalWinAmount]
GO
ALTER TABLE [dbo].[LeaderboardSnapshots] ADD  DEFAULT ((0)) FOR [TotalLossAmount]
GO
ALTER TABLE [dbo].[LeaderboardSnapshots] ADD  DEFAULT ((0)) FOR [NetProfit]
GO
ALTER TABLE [dbo].[LeaderboardSnapshots] ADD  DEFAULT ((0)) FOR [Rank]
GO
ALTER TABLE [dbo].[LeaderboardSnapshots] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LeaderboardSnapshots] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[MatchBettingConfigs] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[MatchBettingConfigs] ADD  DEFAULT ((0)) FOR [Handicap]
GO
ALTER TABLE [dbo].[MatchBettingConfigs] ADD  DEFAULT ((1.00)) FOR [Odds]
GO
ALTER TABLE [dbo].[MatchBettingConfigs] ADD  DEFAULT ((10.00)) FOR [MinBetAmount]
GO
ALTER TABLE [dbo].[MatchBettingConfigs] ADD  DEFAULT ((500.00)) FOR [MaxBetAmount]
GO
ALTER TABLE [dbo].[MatchBettingConfigs] ADD  DEFAULT ((0)) FOR [IsFixedBet]
GO
ALTER TABLE [dbo].[MatchBettingConfigs] ADD  DEFAULT ((0)) FOR [IsSettled]
GO
ALTER TABLE [dbo].[MatchBettingConfigs] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MatchBettingConfigs] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Matches] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Matches] ADD  DEFAULT ((0)) FOR [MatchDay]
GO
ALTER TABLE [dbo].[Matches] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Matches] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Matches] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Teams] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Teams] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Teams] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [AuthProvider]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__TimeZone__282DF8C2]  DEFAULT ('Asia/Ho_Chi_Minh') FOR [TimeZone]
GO
ALTER TABLE [dbo].[Bets]  WITH CHECK ADD  CONSTRAINT [FK_Bets_BettingConfig] FOREIGN KEY([MatchBettingConfigId])
REFERENCES [dbo].[MatchBettingConfigs] ([Id])
GO
ALTER TABLE [dbo].[Bets] CHECK CONSTRAINT [FK_Bets_BettingConfig]
GO
ALTER TABLE [dbo].[Bets]  WITH CHECK ADD  CONSTRAINT [FK_Bets_Group] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Groups] ([Id])
GO
ALTER TABLE [dbo].[Bets] CHECK CONSTRAINT [FK_Bets_Group]
GO
ALTER TABLE [dbo].[Bets]  WITH CHECK ADD  CONSTRAINT [FK_Bets_Match] FOREIGN KEY([MatchId])
REFERENCES [dbo].[Matches] ([Id])
GO
ALTER TABLE [dbo].[Bets] CHECK CONSTRAINT [FK_Bets_Match]
GO
ALTER TABLE [dbo].[Bets]  WITH CHECK ADD  CONSTRAINT [FK_Bets_SelectedTeam] FOREIGN KEY([SelectedTeamId])
REFERENCES [dbo].[Teams] ([Id])
GO
ALTER TABLE [dbo].[Bets] CHECK CONSTRAINT [FK_Bets_SelectedTeam]
GO
ALTER TABLE [dbo].[Bets]  WITH CHECK ADD  CONSTRAINT [FK_Bets_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Bets] CHECK CONSTRAINT [FK_Bets_User]
GO
ALTER TABLE [dbo].[GroupMembers]  WITH CHECK ADD  CONSTRAINT [FK_GroupMembers_Group] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Groups] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GroupMembers] CHECK CONSTRAINT [FK_GroupMembers_Group]
GO
ALTER TABLE [dbo].[GroupMembers]  WITH CHECK ADD  CONSTRAINT [FK_GroupMembers_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GroupMembers] CHECK CONSTRAINT [FK_GroupMembers_User]
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD  CONSTRAINT [FK_Groups_CreatedBy] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Groups] CHECK CONSTRAINT [FK_Groups_CreatedBy]
GO
ALTER TABLE [dbo].[LeaderboardSnapshots]  WITH CHECK ADD  CONSTRAINT [FK_LeaderboardSnapshots_Group] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Groups] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LeaderboardSnapshots] CHECK CONSTRAINT [FK_LeaderboardSnapshots_Group]
GO
ALTER TABLE [dbo].[LeaderboardSnapshots]  WITH CHECK ADD  CONSTRAINT [FK_LeaderboardSnapshots_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LeaderboardSnapshots] CHECK CONSTRAINT [FK_LeaderboardSnapshots_User]
GO
ALTER TABLE [dbo].[MatchBettingConfigs]  WITH CHECK ADD  CONSTRAINT [FK_MatchBettingConfigs_CreatedBy] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[MatchBettingConfigs] CHECK CONSTRAINT [FK_MatchBettingConfigs_CreatedBy]
GO
ALTER TABLE [dbo].[MatchBettingConfigs]  WITH CHECK ADD  CONSTRAINT [FK_MatchBettingConfigs_FavoredTeam] FOREIGN KEY([FavoredTeamId])
REFERENCES [dbo].[Teams] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[MatchBettingConfigs] CHECK CONSTRAINT [FK_MatchBettingConfigs_FavoredTeam]
GO
ALTER TABLE [dbo].[MatchBettingConfigs]  WITH CHECK ADD  CONSTRAINT [FK_MatchBettingConfigs_Group] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Groups] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MatchBettingConfigs] CHECK CONSTRAINT [FK_MatchBettingConfigs_Group]
GO
ALTER TABLE [dbo].[MatchBettingConfigs]  WITH CHECK ADD  CONSTRAINT [FK_MatchBettingConfigs_Match] FOREIGN KEY([MatchId])
REFERENCES [dbo].[Matches] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MatchBettingConfigs] CHECK CONSTRAINT [FK_MatchBettingConfigs_Match]
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [FK_Matches_AwayTeam] FOREIGN KEY([AwayTeamId])
REFERENCES [dbo].[Teams] ([Id])
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [FK_Matches_AwayTeam]
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [FK_Matches_HomeTeam] FOREIGN KEY([HomeTeamId])
REFERENCES [dbo].[Teams] ([Id])
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [FK_Matches_HomeTeam]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Group] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Groups] ([Id])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Group]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_User]
GO
