USE [WorldCup2026]
GO
/****** Object:  Table [dbo].[Bets]    Script Date: 5/13/2026 10:36:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bets](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[MatchBettingConfigId] [uniqueidentifier] NOT NULL,
	[GroupId] [uniqueidentifier] NOT NULL,
	[MatchId] [uniqueidentifier] NOT NULL,
	[SelectedTeamId] [uniqueidentifier] NULL,
	[BetAmount] [decimal](18, 2) NOT NULL,
	[Status] [int] NOT NULL,
	[Profit] [decimal](18, 2) NOT NULL,
	[SettledAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Bets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupMembers]    Script Date: 5/13/2026 10:36:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupMembers](
	[Id] [uniqueidentifier] NOT NULL,
	[GroupId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Role] [int] NOT NULL,
	[Balance] [decimal](18, 2) NOT NULL,
	[JoinedAt] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_GroupMembers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 5/13/2026 10:36:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[InviteCode] [nvarchar](20) NOT NULL,
	[MaxMembers] [int] NOT NULL,
	[DefaultBalance] [decimal](18, 2) NOT NULL,
	[CreatedById] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[SettlementMode] [int] NOT NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaderboardSnapshots]    Script Date: 5/13/2026 10:36:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaderboardSnapshots](
	[Id] [uniqueidentifier] NOT NULL,
	[GroupId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[TotalBets] [int] NOT NULL,
	[TotalWins] [int] NOT NULL,
	[TotalLosses] [int] NOT NULL,
	[TotalWinAmount] [decimal](18, 2) NOT NULL,
	[TotalLossAmount] [decimal](18, 2) NOT NULL,
	[NetProfit] [decimal](18, 2) NOT NULL,
	[Rank] [int] NOT NULL,
	[SnapshotDate] [datetime2](7) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_LeaderboardSnapshots] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MatchBettingConfigs]    Script Date: 5/13/2026 10:36:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatchBettingConfigs](
	[Id] [uniqueidentifier] NOT NULL,
	[MatchId] [uniqueidentifier] NOT NULL,
	[GroupId] [uniqueidentifier] NOT NULL,
	[Handicap] [decimal](5, 2) NOT NULL,
	[FavoredTeamId] [uniqueidentifier] NULL,
	[Odds] [decimal](5, 2) NOT NULL,
	[MinBetAmount] [decimal](18, 2) NOT NULL,
	[MaxBetAmount] [decimal](18, 2) NOT NULL,
	[DefaultBetAmount] [decimal](18, 2) NULL,
	[IsFixedBet] [bit] NOT NULL,
	[BettingOpenTime] [datetime2](7) NOT NULL,
	[BettingCloseTime] [datetime2](7) NOT NULL,
	[IsSettled] [bit] NOT NULL,
	[CreatedById] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_MatchBettingConfigs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Matches]    Script Date: 5/13/2026 10:36:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matches](
	[Id] [uniqueidentifier] NOT NULL,
	[ExternalMatchId] [int] NULL,
	[HomeTeamId] [uniqueidentifier] NOT NULL,
	[AwayTeamId] [uniqueidentifier] NOT NULL,
	[HomeScore] [int] NULL,
	[AwayScore] [int] NULL,
	[MatchDay] [int] NOT NULL,
	[Stage] [nvarchar](50) NOT NULL,
	[StartTime] [datetime2](7) NOT NULL,
	[Status] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[Group] [nvarchar](50) NULL,
 CONSTRAINT [PK_Matches] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teams]    Script Date: 5/13/2026 10:36:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Code] [nvarchar](3) NOT NULL,
	[FlagUrl] [nvarchar](500) NULL,
	[GroupName] [nvarchar](5) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Teams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 5/13/2026 10:36:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[GroupId] [uniqueidentifier] NOT NULL,
	[Type] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[BalanceBefore] [decimal](18, 2) NOT NULL,
	[BalanceAfter] [decimal](18, 2) NOT NULL,
	[ReferenceId] [uniqueidentifier] NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Transactions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/13/2026 10:36:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](256) NOT NULL,
	[PasswordHash] [nvarchar](500) NULL,
	[DisplayName] [nvarchar](100) NOT NULL,
	[AvatarUrl] [nvarchar](500) NULL,
	[AuthProvider] [int] NOT NULL,
	[ExternalAuthId] [nvarchar](256) NULL,
	[RefreshToken] [nvarchar](500) NULL,
	[RefreshTokenExpiryTime] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[Role] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[GroupMembers] ([Id], [GroupId], [UserId], [Role], [Balance], [JoinedAt], [IsActive], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (N'f4315ca1-9bff-4d55-8c9f-102055f3425e', N'3b63c83d-662f-421c-b3ec-d2640c3af4d8', N'b9db9540-2ded-46b4-872c-d736e71f91d7', 0, CAST(980.00 AS Decimal(18, 2)), CAST(N'2026-05-11T16:19:04.0636683' AS DateTime2), 1, CAST(N'2026-05-11T16:19:04.0738542' AS DateTime2), CAST(N'2026-05-12T09:02:48.4717279' AS DateTime2), NULL)
INSERT [dbo].[GroupMembers] ([Id], [GroupId], [UserId], [Role], [Balance], [JoinedAt], [IsActive], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (N'5c9b7350-5a6b-4b65-85ea-198494d3a77d', N'bf5c8bf8-d2ed-426c-8a94-d3fd1492511b', N'2cc365fe-6a4a-41a9-b479-1d9beda12e25', 0, CAST(10000.00 AS Decimal(18, 2)), CAST(N'2026-04-26T15:45:56.0085394' AS DateTime2), 1, CAST(N'2026-04-26T15:45:56.1146198' AS DateTime2), CAST(N'2026-04-26T15:45:56.1146712' AS DateTime2), NULL)
INSERT [dbo].[GroupMembers] ([Id], [GroupId], [UserId], [Role], [Balance], [JoinedAt], [IsActive], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (N'c39a291a-6e5e-4461-b41d-778f54bfb356', N'3b63c83d-662f-421c-b3ec-d2640c3af4d8', N'5a7a0f37-21ac-4325-aebd-14cf3c429afb', 0, CAST(960.00 AS Decimal(18, 2)), CAST(N'2026-05-11T15:51:53.5799679' AS DateTime2), 1, CAST(N'2026-05-11T15:51:53.5801745' AS DateTime2), CAST(N'2026-05-12T09:01:42.8306344' AS DateTime2), NULL)
GO
INSERT [dbo].[Groups] ([Id], [Name], [Description], [InviteCode], [MaxMembers], [DefaultBalance], [CreatedById], [IsActive], [CreatedAt], [UpdatedAt], [DeletedAt], [SettlementMode]) VALUES (N'2e76fc94-1bcb-402b-8f99-c90a5cebcde9', N'Aperia Team', N'Aperia World Cup Team 2', N'28YHR6NJ', 40, CAST(1000.00 AS Decimal(18, 2)), N'5a7a0f37-21ac-4325-aebd-14cf3c429afb', 1, CAST(N'2026-05-05T07:48:33.9006708' AS DateTime2), CAST(N'2026-05-11T00:34:04.7613410' AS DateTime2), NULL, 0)
INSERT [dbo].[Groups] ([Id], [Name], [Description], [InviteCode], [MaxMembers], [DefaultBalance], [CreatedById], [IsActive], [CreatedAt], [UpdatedAt], [DeletedAt], [SettlementMode]) VALUES (N'3b63c83d-662f-421c-b3ec-d2640c3af4d8', N'Aarista Football Team', N'Aarista VN Team is revolutionizing', N'PENRR4SJ', 30, CAST(1000.00 AS Decimal(18, 2)), N'5a7a0f37-21ac-4325-aebd-14cf3c429afb', 1, CAST(N'2026-05-09T15:57:57.4901611' AS DateTime2), CAST(N'2026-05-12T06:32:42.3672189' AS DateTime2), NULL, 1)
INSERT [dbo].[Groups] ([Id], [Name], [Description], [InviteCode], [MaxMembers], [DefaultBalance], [CreatedById], [IsActive], [CreatedAt], [UpdatedAt], [DeletedAt], [SettlementMode]) VALUES (N'bf5c8bf8-d2ed-426c-8a94-d3fd1492511b', N'Pepe Team', N'Pepe', N'YG7Y723U', 20, CAST(10000.00 AS Decimal(18, 2)), N'5a7a0f37-21ac-4325-aebd-14cf3c429afb', 1, CAST(N'2026-04-26T14:44:45.6387199' AS DateTime2), CAST(N'2026-04-26T14:44:45.6387876' AS DateTime2), NULL, 0)
GO
INSERT [dbo].[Matches] ([Id], [ExternalMatchId], [HomeTeamId], [AwayTeamId], [HomeScore], [AwayScore], [MatchDay], [Stage], [StartTime], [Status], [CreatedAt], [UpdatedAt], [DeletedAt], [Group]) VALUES (N'04141d5c-d6ee-4a39-805d-00bde82fc464', 537343, N'3dc36724-94a5-4546-b274-94bdf0f0469f', N'25d3d485-1926-402f-ab3a-e15d6d47cd2b', NULL, NULL, 3, N'GROUP_STAGE', CAST(N'2026-06-24T22:00:00.0000000' AS DateTime2), 0, CAST(N'2026-05-08T15:06:20.7387737' AS DateTime2), CAST(N'2026-05-08T15:06:20.7387738' AS DateTime2), NULL, N'GROUP_C')
INSERT [dbo].[Matches] ([Id], [ExternalMatchId], [HomeTeamId], [AwayTeamId], [HomeScore], [AwayScore], [MatchDay], [Stage], [StartTime], [Status], [CreatedAt], [UpdatedAt], [DeletedAt], [Group]) VALUES (N'ab0717f6-1839-4b4c-a760-0b06f70f8a48', 537368, N'12dc02ee-397f-4635-a2ab-1dd8340fe692', N'83dcebe4-39f7-485e-bac0-0580da5f608c', NULL, NULL, 3, N'GROUP_STAGE', CAST(N'2026-06-27T03:00:00.0000000' AS DateTime2), 0, CAST(N'2026-04-27T15:11:14.0315652' AS DateTime2), CAST(N'2026-05-06T07:50:05.0126929' AS DateTime2), NULL, N'GROUP_G')
INSERT [dbo].[Matches] ([Id], [ExternalMatchId], [HomeTeamId], [AwayTeamId], [HomeScore], [AwayScore], [MatchDay], [Stage], [StartTime], [Status], [CreatedAt], [UpdatedAt], [DeletedAt], [Group]) VALUES (N'7a91f485-8749-4ff3-8289-0c27aa455ff2', 537339, N'25d3d485-1926-402f-ab3a-e15d6d47cd2b', N'473a760b-142c-4c28-b7d0-664c14c37ad3', 2, 1, 1, N'GROUP_STAGE', CAST(N'2026-06-13T22:00:00.0000000' AS DateTime2), 3, CAST(N'2026-04-27T15:11:14.0315560' AS DateTime2), CAST(N'2026-05-08T04:42:37.2126252' AS DateTime2), NULL, N'GROUP_C')
GO
INSERT [dbo].[Teams] ([Id], [Name], [Code], [FlagUrl], [GroupName], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (N'83dcebe4-39f7-485e-bac0-0580da5f608c', N'Iran', N'IRN', N'https://flagcdn.com/w80/ir.png', N'F', CAST(N'2026-04-23T08:26:21.5654690' AS DateTime2), CAST(N'2026-04-23T08:26:21.5654690' AS DateTime2), NULL)
INSERT [dbo].[Teams] ([Id], [Name], [Code], [FlagUrl], [GroupName], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (N'c4d8a52f-c565-4da6-ad3b-0594a92694d1', N'South Africa', N'RSA', N'https://crests.football-data.org/9396.svg', NULL, CAST(N'2026-05-08T15:06:07.0305077' AS DateTime2), CAST(N'2026-05-08T15:06:07.0305078' AS DateTime2), NULL)
INSERT [dbo].[Teams] ([Id], [Name], [Code], [FlagUrl], [GroupName], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (N'364e2841-09fe-428d-a3eb-0c52280b2550', N'Curaçao', N'CUR', N'https://crests.football-data.org/curacao.svg', NULL, CAST(N'2026-05-08T15:06:07.0305107' AS DateTime2), CAST(N'2026-05-08T15:06:07.0305107' AS DateTime2), NULL)
GO
INSERT [dbo].[Transactions] ([Id], [UserId], [GroupId], [Type], [Amount], [BalanceBefore], [BalanceAfter], [ReferenceId], [Description], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (N'fde9c2bb-23e5-4191-95a2-0080dc131d76', N'5a7a0f37-21ac-4325-aebd-14cf3c429afb', N'3b63c83d-662f-421c-b3ec-d2640c3af4d8', 2, CAST(10.00 AS Decimal(18, 2)), CAST(960.00 AS Decimal(18, 2)), CAST(970.00 AS Decimal(18, 2)), N'7e810493-6f54-4c4f-9bf5-fa0451e66f30', N'Bet settlement: Won', CAST(N'2026-05-11T16:29:10.3494683' AS DateTime2), CAST(N'2026-05-11T16:29:10.3494684' AS DateTime2), NULL)
GO
ALTER TABLE [dbo].[Bets] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Bets] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Bets] ADD  DEFAULT ((0)) FOR [Profit]
GO
ALTER TABLE [dbo].[Bets] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Bets] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[GroupMembers] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[GroupMembers] ADD  DEFAULT ((0)) FOR [Role]
GO
ALTER TABLE [dbo].[GroupMembers] ADD  DEFAULT ((0)) FOR [Balance]
GO
ALTER TABLE [dbo].[GroupMembers] ADD  DEFAULT (sysutcdatetime()) FOR [JoinedAt]
GO
ALTER TABLE [dbo].[GroupMembers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[GroupMembers] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[GroupMembers] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Groups] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Groups] ADD  DEFAULT ((50)) FOR [MaxMembers]
GO
ALTER TABLE [dbo].[Groups] ADD  DEFAULT ((0.00)) FOR [DefaultBalance]
GO
ALTER TABLE [dbo].[Groups] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Groups] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Groups] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Groups] ADD  DEFAULT ((0)) FOR [SettlementMode]
GO
ALTER TABLE [dbo].[LeaderboardSnapshots] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[LeaderboardSnapshots] ADD  DEFAULT ((0)) FOR [TotalBets]
GO
ALTER TABLE [dbo].[LeaderboardSnapshots] ADD  DEFAULT ((0)) FOR [TotalWins]
GO
ALTER TABLE [dbo].[LeaderboardSnapshots] ADD  DEFAULT ((0)) FOR [TotalLosses]
GO
ALTER TABLE [dbo].[LeaderboardSnapshots] ADD  DEFAULT ((0)) FOR [TotalWinAmount]
GO
ALTER TABLE [dbo].[LeaderboardSnapshots] ADD  DEFAULT ((0)) FOR [TotalLossAmount]
GO
ALTER TABLE [dbo].[LeaderboardSnapshots] ADD  DEFAULT ((0)) FOR [NetProfit]
GO
ALTER TABLE [dbo].[LeaderboardSnapshots] ADD  DEFAULT ((0)) FOR [Rank]
GO
ALTER TABLE [dbo].[LeaderboardSnapshots] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LeaderboardSnapshots] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[MatchBettingConfigs] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[MatchBettingConfigs] ADD  DEFAULT ((0)) FOR [Handicap]
GO
ALTER TABLE [dbo].[MatchBettingConfigs] ADD  DEFAULT ((1.00)) FOR [Odds]
GO
ALTER TABLE [dbo].[MatchBettingConfigs] ADD  DEFAULT ((10.00)) FOR [MinBetAmount]
GO
ALTER TABLE [dbo].[MatchBettingConfigs] ADD  DEFAULT ((500.00)) FOR [MaxBetAmount]
GO
ALTER TABLE [dbo].[MatchBettingConfigs] ADD  DEFAULT ((0)) FOR [IsFixedBet]
GO
ALTER TABLE [dbo].[MatchBettingConfigs] ADD  DEFAULT ((0)) FOR [IsSettled]
GO
ALTER TABLE [dbo].[MatchBettingConfigs] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MatchBettingConfigs] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Matches] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Matches] ADD  DEFAULT ((0)) FOR [MatchDay]
GO
ALTER TABLE [dbo].[Matches] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Matches] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Matches] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Teams] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Teams] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Teams] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [AuthProvider]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [Role]
GO
ALTER TABLE [dbo].[Bets]  WITH CHECK ADD  CONSTRAINT [FK_Bets_BettingConfig] FOREIGN KEY([MatchBettingConfigId])
REFERENCES [dbo].[MatchBettingConfigs] ([Id])
GO
ALTER TABLE [dbo].[Bets] CHECK CONSTRAINT [FK_Bets_BettingConfig]
GO
ALTER TABLE [dbo].[Bets]  WITH CHECK ADD  CONSTRAINT [FK_Bets_Group] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Groups] ([Id])
GO
ALTER TABLE [dbo].[Bets] CHECK CONSTRAINT [FK_Bets_Group]
GO
ALTER TABLE [dbo].[Bets]  WITH CHECK ADD  CONSTRAINT [FK_Bets_Match] FOREIGN KEY([MatchId])
REFERENCES [dbo].[Matches] ([Id])
GO
ALTER TABLE [dbo].[Bets] CHECK CONSTRAINT [FK_Bets_Match]
GO
ALTER TABLE [dbo].[Bets]  WITH CHECK ADD  CONSTRAINT [FK_Bets_SelectedTeam] FOREIGN KEY([SelectedTeamId])
REFERENCES [dbo].[Teams] ([Id])
GO
ALTER TABLE [dbo].[Bets] CHECK CONSTRAINT [FK_Bets_SelectedTeam]
GO
ALTER TABLE [dbo].[Bets]  WITH CHECK ADD  CONSTRAINT [FK_Bets_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Bets] CHECK CONSTRAINT [FK_Bets_User]
GO
ALTER TABLE [dbo].[GroupMembers]  WITH CHECK ADD  CONSTRAINT [FK_GroupMembers_Group] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Groups] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GroupMembers] CHECK CONSTRAINT [FK_GroupMembers_Group]
GO
ALTER TABLE [dbo].[GroupMembers]  WITH CHECK ADD  CONSTRAINT [FK_GroupMembers_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GroupMembers] CHECK CONSTRAINT [FK_GroupMembers_User]
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD  CONSTRAINT [FK_Groups_CreatedBy] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Groups] CHECK CONSTRAINT [FK_Groups_CreatedBy]
GO
ALTER TABLE [dbo].[LeaderboardSnapshots]  WITH CHECK ADD  CONSTRAINT [FK_LeaderboardSnapshots_Group] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Groups] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LeaderboardSnapshots] CHECK CONSTRAINT [FK_LeaderboardSnapshots_Group]
GO
ALTER TABLE [dbo].[LeaderboardSnapshots]  WITH CHECK ADD  CONSTRAINT [FK_LeaderboardSnapshots_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LeaderboardSnapshots] CHECK CONSTRAINT [FK_LeaderboardSnapshots_User]
GO
ALTER TABLE [dbo].[MatchBettingConfigs]  WITH CHECK ADD  CONSTRAINT [FK_MatchBettingConfigs_CreatedBy] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[MatchBettingConfigs] CHECK CONSTRAINT [FK_MatchBettingConfigs_CreatedBy]
GO
ALTER TABLE [dbo].[MatchBettingConfigs]  WITH CHECK ADD  CONSTRAINT [FK_MatchBettingConfigs_FavoredTeam] FOREIGN KEY([FavoredTeamId])
REFERENCES [dbo].[Teams] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[MatchBettingConfigs] CHECK CONSTRAINT [FK_MatchBettingConfigs_FavoredTeam]
GO
ALTER TABLE [dbo].[MatchBettingConfigs]  WITH CHECK ADD  CONSTRAINT [FK_MatchBettingConfigs_Group] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Groups] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MatchBettingConfigs] CHECK CONSTRAINT [FK_MatchBettingConfigs_Group]
GO
ALTER TABLE [dbo].[MatchBettingConfigs]  WITH CHECK ADD  CONSTRAINT [FK_MatchBettingConfigs_Match] FOREIGN KEY([MatchId])
REFERENCES [dbo].[Matches] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MatchBettingConfigs] CHECK CONSTRAINT [FK_MatchBettingConfigs_Match]
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [FK_Matches_AwayTeam] FOREIGN KEY([AwayTeamId])
REFERENCES [dbo].[Teams] ([Id])
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [FK_Matches_AwayTeam]
GO
ALTER TABLE [dbo].[Matches]  WITH CHECK ADD  CONSTRAINT [FK_Matches_HomeTeam] FOREIGN KEY([HomeTeamId])
REFERENCES [dbo].[Teams] ([Id])
GO
ALTER TABLE [dbo].[Matches] CHECK CONSTRAINT [FK_Matches_HomeTeam]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Group] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Groups] ([Id])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Group]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_User]
GO
